$red: #E53D51;

$black:    hsl(220,00%,00%);
$carbon:   hsl(220,25%,05%);
$charcoal: hsl(220,25%,10%);

$pebble:   hsl(220,12%,35%);
$gray:     hsl(220,12%,65%);
$cloud:    hsl(220,12%,85%);

$fog:      hsl(220,12%,95%);
$snow:     hsl(220,12%,98%);
$white:    hsl(220,12%,100%);
