@import "colors";
@import "utils";
@import "custom";

.bg-randy {
  background-image: url("../assets/randy.jpg") center;
  height: 100%;
  background-size: cover;
}

.bg-frontpage {
  background-image: url("../assets/frontpage.jpg");
  height: 100%;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0px 0px 0px 10000px transparentize($black, 0.75);
}

.bg-main {
  background-image: url("../assets/main-image.jpg");
  height: 100%;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0px 0px 0px 10000px transparentize($black, 0.75);
}

body,
html,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none !important;
}
